{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Home ✅</h1>

    <p>Simple test of DI, routing and other stuff before we separate bundle out of this app.</p>

    This is: {{ controller_name|raw }}
    <ul>
        <li><a href="{{ path("back_office_index") }}">BOF3::index</a> - routing test - two separe routes generated (/bof, /db).</li>
        <li><a href="{{ path("back_office_db") }}">BOF3::DB</a> - second route example with DI of EntityManagerInterface</li>
    </ul>

</div>
{% endblock %}
